/* body {

} */

/* .bg-lightest-blue {
  background-color: #ddeaff;
} */

/* .bg-light-blue {
  background-color: #c6dcff;
} */

.caption-picture {
  float: right;
  border: 2px solid black;
  width: 20%;
  margin: 5px;
}

.jumbotron h1 {
  text-align: center;
}

.caption-picture img {
  width: 100%;
  border-bottom: 2px solid black;
}

.caption-picture p {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
  font-size: 14pt;
  font-family: fantasy;
}

.well h4 {
  font-family: sans-serif;
}

.alpha-list ol {
  list-style-type: lower-alpha;
}

/* @media screen and (min-width: 400 px) {
  .about-me p {
    text-align: justify;
  }
} */
