body {

}

.bg-lightest-blue {
  background-color: #ddeaff;
}

.bg-light-blue {
  background-color: #c6dcff;
}

.caption-picture {
  float: right;
  padding: 2px;
  border: 2px solid black;
  width: 20%;
  margin: 5px;
}

.jumbotron h1 {
  text-align: center;
}

.caption-picture img {
  width: 100%;
}

.about-me h4 {
  font-family: sans-serif;
}

/* @media screen and (min-width: 400 px) {
  .about-me p {
    text-align: justify;
  }
} */
